<!-- <footer class="text-center">
    <div id="footer" class="section"> -->
        <!-- <div class="sharethis-inline-share-buttons"></div> -->
    <!-- </div>
</footer> -->

<footer class="mb-0">
    <div class="container p-3 mb-0">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4 text-center text-lg-right my-auto">
                <div style="max-width: 300px;">
                    <img src="/img/BitreyLogoText.png" alt="Bitrey" style="max-width: 100%; padding: 3rem">
                </div>
            </div>
            <div class="col-12 col-lg-4 text-center text-lg-left my-auto">
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="/info#websiteInfo" class="text-white"><%= text.info.WEBSITE_INFO %></a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="/info#contacts" class="text-white"><%= text.info.CONTACTS.title %></a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="/info#privacyPolicy" class="text-white"><%= text.info.PRIVACY_POLICY %></a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="/info#termsAndConditions" class="text-white"><%= text.info.TERMS_AND_CONDITIONS %></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center">
            <p class="text-white">&copy; Copyright 2020. <%= text.ALL_RIGHTS_RESERVED %></p>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="/js/footer.js"></script>
</body>

</html>